
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100vw;
  height: 6rem;
  color: black;
  background: #62ACB8;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  font-size: 2rem;
  input, select {
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
  }
}

section {
  padding: 5rem 0;
  width: 100%;
}

.needs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: teal;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: salmon;
}

.results {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
}