
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100vw;
  height: 6rem;
  color: white;
  background: #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  font-size: 2rem;
  padding: 1rem;
  label, input {
    margin-bottom: 0.8rem;
  }
  background: #bbb;
}

section {
  padding: 5vh 0;
  width: 100%;
}

.needs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: teal;
}

.options {
  display: flex;
  justify-content: space-evenly;
}